In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [16]:
#import warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
dataset=pd.read_csv("Obesity Classification.csv")

In [3]:
dataset

      ID  Age  Gender  Height  Weight   BMI          Label
0      1   25    Male     175      80  25.3  Normal Weight
1      2   30  Female     160      60  22.5  Normal Weight
2      3   35    Male     180      90  27.3     Overweight
3      4   40  Female     150      50  20.0    Underweight
4      5   45    Male     190     100  31.2          Obese
..   ...  ...     ...     ...     ...   ...            ...
103  106   11    Male     175      10   3.9    Underweight
104  107   16  Female     160      10   3.9    Underweight
105  108   21    Male     180      15   5.6    Underweight
106  109   26  Female     150      15   5.6    Underweight
107  110   31    Male     190      20   8.3    Underweight

[108 rows x 7 columns]

In [4]:
dataset.shape

(108, 7)

In [5]:
dataset.isnull().sum()

ID        0
Age       0
Gender    0
Height    0
Weight    0
BMI       0
Label     0
dtype: int64

In [6]:
dataset.nunique()

ID        108
Age        75
Gender      2
Height     10
Weight     23
BMI        25
Label       4
dtype: int64

In [7]:
label_encoder=LabelEncoder()
dataset['target']=label_encoder.fit_transform(dataset['Label'])
dataset['gender']=label_encoder.fit_transform(dataset['Gender'])
dataset.head()

   ID  Age  Gender  Height  Weight   BMI          Label  target  gender
0   1   25    Male     175      80  25.3  Normal Weight       0       1
1   2   30  Female     160      60  22.5  Normal Weight       0       0
2   3   35    Male     180      90  27.3     Overweight       2       1
3   4   40  Female     150      50  20.0    Underweight       3       0
4   5   45    Male     190     100  31.2          Obese       1       1

In [9]:
dataset=dataset.drop(["Gender","Label","ID"],axis=1)

In [10]:
dataset

     Age  Height  Weight   BMI  target  gender
0     25     175      80  25.3       0       1
1     30     160      60  22.5       0       0
2     35     180      90  27.3       2       1
3     40     150      50  20.0       3       0
4     45     190     100  31.2       1       1
..   ...     ...     ...   ...     ...     ...
103   11     175      10   3.9       3       1
104   16     160      10   3.9       3       0
105   21     180      15   5.6       3       1
106   26     150      15   5.6       3       0
107   31     190      20   8.3       3       1

[108 rows x 6 columns]

In [11]:
def QuanQual(dataset):
    quan=[]
    qual=[]
    for ColumnName in dataset.columns:
        #print(ColumnName)
        if (dataset[ColumnName].dtypes=='O'):
            #print("qual")
            qual.append(ColumnName)
        else:
            #print("quan")
            quan.append(ColumnName)
    return quan,qual

In [12]:
quan,qual=QuanQual(dataset)

In [13]:
quan

['Age', 'Height', 'Weight', 'BMI', 'target', 'gender']

In [14]:
qual

[]

In [17]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode",
                                "Q1:25%","Q2:50%","Q3:75%","Q4:99%","Q5:100%",
                                "IQR","1.5Rule","Lesser","Greater","Min","Max"],columns=quan)

for ColumnName in quan:
    
    descriptive[ColumnName]["Mean"]=dataset[ColumnName].mean()
    descriptive[ColumnName]["Mean"]=dataset[ColumnName].mean()
    descriptive[ColumnName]["Median"]=dataset[ColumnName].median()
    descriptive[ColumnName]["Mode"]=dataset[ColumnName].mode()[0]
    descriptive[ColumnName]["Q1:25%"]=dataset.describe()[ColumnName]["25%"] 
    descriptive[ColumnName]["Q2:50%"]=dataset.describe()[ColumnName]["50%"]
    descriptive[ColumnName]["Q3:75%"]=dataset.describe()[ColumnName]["75%"]
    descriptive[ColumnName]["Q4:99%"]=np.percentile(dataset[ColumnName],99)
    descriptive[ColumnName]["Q5:100%"]=dataset.describe()[ColumnName]["max"]
    descriptive[ColumnName]["IQR"]= descriptive[ColumnName]["Q3:75%"]-descriptive[ColumnName]["Q1:25%"]
    descriptive[ColumnName]["1.5Rule"]=1.5*descriptive[ColumnName]["IQR"]
    descriptive[ColumnName]["Lesser"]=descriptive[ColumnName]["Q1:25%"]-descriptive[ColumnName]["1.5Rule"]
    descriptive[ColumnName]["Greater"]=descriptive[ColumnName]["Q3:75%"]+descriptive[ColumnName]["1.5Rule"]
    descriptive[ColumnName]["Min"]=dataset[ColumnName].min()
    descriptive[ColumnName]["Max"]=dataset[ColumnName].max()

In [18]:
descriptive

               Age      Height     Weight        BMI    target    gender
Mean     46.555556  166.574074  59.490741  20.549074  1.787037  0.518519
Median        42.5       175.0       55.0       21.2       2.0       1.0
Mode            16         160         75       16.7         3         1
Q1:25%        27.0       140.0       35.0       16.7       0.0       0.0
Q2:50%        42.5       175.0       55.0       21.2       2.0       1.0
Q3:75%       59.25       190.0       85.0       26.1       3.0       1.0
Q4:99%      107.93       210.0     119.65      36.99       3.0       1.0
Q5:100%      112.0       210.0      120.0       37.2       3.0       1.0
IQR          32.25        50.0       50.0        9.4       3.0       1.0
1.5Rule     48.375        75.0       75.0       14.1       4.5       1.5
Lesser     -21.375        65.0      -40.0        2.6      -4.5      -1.5
Greater    107.625       265.0      160.0       40.2       7.5       2.5
Min             11         120         10        3.9         0         0
Max            112         210        120       37.2         3         1

In [19]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
        if(descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
            greater.append(columnName)

In [20]:
lesser

[]

In [21]:
greater

[]

In [22]:
dataset.to_csv("Pre_Obesity_prediction.csv",index=False)

In [6]:
#Since There is no null values in the dataset, so proceeding with the Univariate and Bivariate.